@page "/form"

<form>
    <h3>Sign up</h3>
    <p>
        <label for="usernamesignup" class="login" data-icon="u">Login</label>
        <input id="usernamesignup" name="usernamesignup" required="required" type="text"  />
    </p>
    <p>
        <label for="emailsignup" class="email" data-icon="e">E-mail</label>
        <input id="emailsignup" name="emailsignup" required="required" type="email" />
    </p>
    <p>
        <label for="passwordsignup" class="password" data-icon="p">Password</label>
        <input id="passwordsignup" name="passwordsignup" required="required" type="password" />
    </p>
    <p>
        <label for="passwordsignup_confirm" class="password" data-icon="p">Confirming </label>
        <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" />
    </p>
    
    <p class="signup button">
        <input type="submit" value="Sign up"/>
    </p>
</form>



@code {
    
}